      body {
       background-image: url(bgcolor.jpg)
      }
      h1, h2, p, li, dl, td{
       font-family: "snell roundhand", "trattatello", "comic sans ms";
       text-color: "#f28500";
      }
      p.i{
       font-style: italic;
       font-size: xx-large;
       text-align: right;
      }
